.section-3 {
    max-width: 1600px;
    min-height: 790px;
    background: var(--bg-color);
    background-color: linear-gradient(90deg, #3B3253 0%, rgba(57, 48, 80, 0) 100%);
}

.sec-3-inner {
    padding-top: 46px;
    padding-left: 194px;
    float: left;
}

.playing-skill {
    color: var(--bg-btns);
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.btn-play {
    background: #000;
    border-radius: 11.5px;
    padding: 3px 9px;
    color: var(--white);
    margin-left: 10px;
}

.sec-3-title {
    text-transform: capitalize;
    color: var(--white);
    font-family: Lato;
    font-size: var(--size-title);
    font-weight: 800;
    margin-top: 10px;
    line-height: 54.5px;
}

.sec-3-strong-text {
    font-weight: 600;
}

.sec-3-text {
    font-weight: 500;
    line-height: 25px;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.8);
}

.sec-3-cards {
    margin-top: 41px;
}


.card {
    max-width: 97px;
    height: 128px;
    background-color: #17584E;
    background-image: url("../imeges/pngwing\ 4.png") center center no-repeat;
    border-radius: 10px;
    text-align: center;
}

.sec-3-big-clip {
    margin: 116px 0 0 89px
}

.sliders {
    color: #4F4765;
    background-color: #4F4765;
    border: none;
    height: 3px;
    border-radius: 10px;
    margin-top: 34px;
}

.try-free {
    padding: 15px 55px;
    margin-top: 40px;
}

.download {
    border: solid 1px;
    border-color: var(--bg-btns);
    border-radius: 5px;
    color: var(--bg-btns);
    font-size: 1rem;
    padding: 15px 47px;
}

.sec-3-main {
    background: url("../backgrounds/Rectangle\ 11.png") no-repeat;
    min-height: 675px;
    margin-top: 298px;
}

.sec-3-main-title {
    float: right;
    font-size: var(--size-title);
    font-weight: 800;
    color: #fff;
    margin-top: 113px;
    margin-right: 397px;
    line-height: 54px;
}

.sec-3-main-inner {
    float: right
}

.sec-3-main-phone {
    float: left;
}

.sec-3-main-text {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 15px;
    line-height: 22px;
}

.download-links {
    margin-top: 35px;
}