.section-2 {
  width: 1600px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}

.container-1 {
  background-color: #3e3457;
  background-image: url(../backgrounds/background\\(1\.png);
  display: flex;
  flex-direction: column;
}

.block-1 {
  margin-top: 80px;
  max-width: 698px;
  margin: 80px auto 70px auto;
}

.title {
  font-size: 39px;
  margin-bottom: 25px;
}

.text {
  max-width: 430px;
  margin: 0 auto;
  line-height: 160%;
  opacity: 0.7;
}

.block-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.card {
  width: 324px;
  height: 352px;
  background-color: #3e3457;
  border-radius: 15px;
  padding: 66px 48px 67px;
}

.card:hover {
  box-shadow: 0px 6px 34px -2px #1b1b1b;
}

.card-icon {
  margin-bottom: 24px;
}

.card-title {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 15px;
}

.card-text {
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}

.container-2 {
  background-color: #3e3457;
  background-image: url(../backgrounds/Rectangle\ 52.png);
  display: flex;
}

.image {
  max-width: 619px;
  height: 575px;
  margin: 0 auto 50px 194px;
  padding-top: 220px;
}

.img {
    max-width: 619px;
}

.block-2 {
  margin: 250px 250px auto 100px;
  text-align: left;
}

.block-2-text {
  font-size: 16px;
  line-height: 130%;
  color: #4ea4dc;
  text-transform: uppercase;
}

.block-2-title {
  font-size: 39px;
  line-height: 140%;
  font-weight: 800;
  margin-top: 10px;
}

.block-2-texts {
  font-size: 16px;
  line-height: 160%;
  opacity: 0.7;
}

.block-2-btn {
  background: #4ea4dc;
  border-radius: 5px;
  padding: 15px 30px;
  text-transform: capitalize;
  margin-top: 35px;
}

.block-2-btn:hover {
    background: rgb(27, 94, 194);
}

@media screen and (max-width: 720px) {
  .block-card {
    flex-wrap: wrap;
  }

  .container-2 {
    display: flex;
    flex-direction: column;
  }

  .image {
    margin-left: 50px;
  }

  .block-2 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 640px) {
  .block-1 h1 {
    max-width: 400px;
    margin: 0 auto 30px auto;
    font-size: 30px;
  }

  .block-2 {
    margin-left: 150px;
  }
}

@media screen and (max-width: 440px) {
  .block-1 h1 {
    max-width: 380px;
    margin: 0 auto 30px auto;
    font-size: 25px;
  }
}

@media screen and (max-width: 375px) {
    .image{
        margin-left: 27px;
    }

    .img{
        max-width:330px;
    }

    .block-2-title{
        font-size: 20px;
    }
}
